<input  [(ngModel)]="userObj.name">
<input  [(ngModel)]="userObj.age">
<input  [(ngModel)]="userObj.id">

<app-user [user]="userObj" (userEvent)="userOutput($event)"></app-user>

<!-- <div *ngFor="let user of userArr">
    {{user|json}}
</div> -->

<table>
    <tr>
        <th>
            id
        </th>
        <th>
           name 
        </th>
        <th>
            age
        </th>
        
    </tr>
    <tr *ngFor="let userarr of userArr">
        <td>
            {{userarr.id}} 
        </td>
        <td>
            {{userarr.name}} 
        </td>
        <td>
            {{userarr.age}} 
        </td>
    </tr>
</table>

<app-button></app-button>